artifacts==20200515
atomicwrites==1.4.0
attrs==20.1.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
colorama==0.4.3
compoundfiles==0.3
coverage==5.2.1
cryptography==3.1
dfdatetime==20200824
dfvfs==20190902
dfwinreg==20200415
dtfabric==20200621
elasticsearch==7.9.1
hexdump==3.3
importlib-metadata==1.7.0
iniconfig==1.0.1
libewf-python==20171104
libesedb-python==20200418
libfsapfs-python==20200727
libregf-python==20200805
libsigscan-python==20191221
libsmdev-python==20200210
libsmraw-python==20191221
libvshadow-python==20190323
moduleInterface==2.1.0
more-itertools==8.5.0
numpy==1.19.1
olefile==0.46
packaging==20.4
pandas==1.1.1
pdfminer.six==20200726
pika==1.1.0
pluggy==0.13.1
protobuf==3.13.0
py==1.9.0
pyarrow==1.0.1
pycparser==2.20
pycryptodome==3.9.8
PyMySQL==0.10.0
pyparsing==2.4.7
pytest==6.0.1
pytest-cov==2.10.1
python-dateutil==2.8.1
python-evtx==0.6.1
pytz==2020.1
PyYAML==5.3.1
sentinel==0.1.2
six==1.15.0
sortedcontainers==2.2.2
structureReader==2.1.11
toml==0.10.1
tqdm==4.48.2
urllib3==1.25.10
xlrd==1.2.0
yarp==0.4.0
zipp==3.1.0
